<form action='/api/signup' method='POST' autocomplete='off'>
    <label>Ingrese su nombre</label>
    <div class='form-group myForm'>
      <input type='text' class='form-control' id='username' name='username' required />
    </div>
    <label>Ingrese su mail</label>
    <div class='form-group myForm'>
      <input type='text' class='form-control' id='email' name='email' required />
    </div>
    <label>Ingrese su contraseña</label>
    <div class='form-group myForm'>
      <input type='password' class='form-control' id='password' name='password' required />
    </div>
    <label>Confirme su contraseña</label>
    <div class='form-group myForm'>
      <input type='text' class='form-control' id='password_confirmation' name='password_confirmation' required />
    </div>
    <label>Ingrese su nombre</label>
    <div class='form-group myForm'>
      <input type='text' class='form-control' id='firstName' name='firstName' required />
    </div>
    <label>Ingrese su apellido</label>
    <div class='form-group myForm'>
      <input type='text' class='form-control' id='lastName' name='lastName' required />
    </div>
     <label>Ingrese su numero de telefono</label>
    <div class='form-group myForm'>
      <input type='number' class='form-control' id='phonenumber' name='phonenumber' required />
    </div>
    <label>Ingrese su direccion</label>
    <div class='form-group myForm'>
      <input type='text' class='form-control' id='address' name='address' required />
    </div>
    <label>Ingrese su numero de calle</label>
    <div class='form-group myForm'>
      <input type='number' class='form-control' id='addressNumber' name='addressNumber' required />
    </div>
    <label>Ingrese su piso</label>
    <div class='form-group myForm'>
      <input type='number' class='form-control' id='piso' name='piso'/>
    </div>
    <label>Ingrese su departamento</label>
    <div class='form-group myForm'>
      <input type='text' class='form-control' id='state' name='state' required />
    </div>
    <label>Ingrese su codigo postal</label>
    <div class='form-group myForm'>
      <input type='number' class='form-control' id='postalCode' name='postalCode' required />
    </div>
    <div class='formButton'>
      <button class='btn btn-primary' style='align-content: flex-end;'>Enviar</button>
    </div>  
  </form>
